/* Style Khusus Halaman Notifikasi */

.header-left { border-right: none !important; }

/* CSS KHUSUS CARD */
.notif-list-container {
    background-color: #41b6f06a;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    padding: 20px;
    
    margin-left: 15px; 
    margin-right: 15px;
    margin-bottom: 25px;
}

.notif-item {
    padding: 15px;
    border-bottom: 1px solid #7c95bc;
    display: flex;
    align-items: start;
    gap: 15px;
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.4); 
    border-radius: 8px;
    margin-bottom: 10px;
}
.notif-item:hover { background-color: #bddef4; }

.notif-icon-box {
    width: 40px; height: 40px;
    border-radius: 50%;
    display: flex; align-items: center; justify-content: center;
    font-size: 1.2rem;
    flex-shrink: 0;
}
.bg-soft-green { background-color: #d1e7dd; color: #198754; }
.bg-soft-orange { background-color: #fff3cd; color: #ffc107; }

.notif-content h6 { font-weight: 700; margin-bottom: 2px; color: #333; }
.notif-content p { margin-bottom: 0; font-size: 0.95rem; color: #333; }
.notif-date { font-size: 0.8rem; color: #555; white-space: nowrap; font-weight: 600; }

/* Style Filter Dropdown */
.filter-select {
    border: 2px solid #1a5c7a;
    border-radius: 6px;
    padding: 5px 10px;
    color: #1a5c7a;
    font-weight: 600;
    background-color: white;
    outline: none;
}